# ============================================
# .gitignore — Projet Agentic GraphRAG
# Wiame Anejjar — Master SDIA 2025-2026
# ============================================

# Données volumineuses
agentic_graphrag/data/
agentic_graphrag/indexes/
neo4j_data/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Environnement virtuel 
venv/
.env/

# Variables d'environnement 
.env
*.env

# Modèles et fichiers lourds
*.pkl
*.bin
*.h5

# OS
.DS_Store
Thumbs.db


